<html>
<head>
<meta charset="ISO-8859-1">
<title>Login into Student DashBoard</title>
</head>
<body>
<form action="student" method="post" modelAttribute="student">
        Enter Student Roll Number:<input type="text" name="sroll"><br>
        Enter full name:<input type="text" name="sname"><br>
        Enter Department:<input type="text" name="sdept" ><br>
        Enter College:<input type="text" name="college" ><br>
        <input type="submit" value="submit">
        </form>
        </body>
        </html>